[submodule "muasm_translator"]
	path = muasm_translator
	url = git@github.com:spectector/muasm_translator.git
[submodule "spectector"]
	path = spectector
	url = git@github.com:spectector/spectector.git
[submodule "concolic"]
	path = concolic
	url = git@github.com:ciao-lang/concolic.git
[submodule "loop_expander"]
	path = loop_expander
	url = git@github.com:taisii/loop_expander.git
